{{#each allDives}}
  <hr />
  <h3>Diving Site:</h3>
  {{divingSite}}
  <h3>Depth:</h3>
  {{depth}}
  <h3>Duration:</h3>
  {{duration}}
  <h3>User:</h3>
  {{user.username}}
  <br />

  <a href="/diving-site-details/{{this._id}}">View details</a> <br />

  <a href="/diving-sites/{{this._id}}/edit">edit</a>
  {{! here we can make an A TAG to link the user profile and shit }}
  <form action="/diving-sites/{{this._id}}/delete" method="POST">
    <button>Delete</button>
  </form>
  <hr />
{{else}}
  <p>There are not diving sites yes</p>
  <a href="/diving-sites/create">Log your first one</a>

{{/each}}