<div class="card-container diving-list-container">
	{{#each allDives}}

		<div class="card card-dive">
			{{#if imgDive}}
				<img src="{{imgDive}}" class="card-img-top" alt="" />
			{{else}}
				<img
					src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp"
					class="card-img-top"
					alt="Fissure in Sandstone"
				/>
			{{/if}}
			<div class="card-body">
				<p class="uppercase text-left">Diving Site:</p>
				<h5 class="card-title text-left">{{divingSite}}</h5>
				<p class="card-text">Some quick example text to build on the card title
					and make up the bulk of the card's content.</p>

				<div class="row g-4 py-1 row-cols-1 row-cols-lg-3">
					<div class="feature-col">
						<i class="bi bi-arrow-bar-down" style="font-size: 2rem;"></i>
						<h6>{{depth}}m</h6></div>
					<div class="feature-col">

						<i class="bi bi-clock-history" style="font-size: 2rem;"></i>
						<h6>
							{{duration}}min</h6>
					</div>
					<div class="feature-col">
						<div class="flex-shrink-0 justify-content-center">
							<img
								src="{{user.imgProfile}}"
								alt="Generic placeholder image"
								class="img-fluid rounded-circle border border-dark border-3"
								style="width: 50px;"
							/>
						</div>
						{{! <i class="bi bi-file-person" style="font-size: 2rem;"></i> }}
						<a href="/user/user-profile/{{user.username}}">
							{{user.username}}</a>
					</div>
				</div>

				<div class="row g-4 row-cols-1 row-cols-lg-2">
					<div class="feature-col">
						<a
							class="btn btn-primary"
							href="/diving-site-details/{{this._id}}"
						>View details</a>
					</div>
					<div class="feature-col">
						<form action="/diving-sites/{{_id}}/dive-to-do" method="post">
							<button class="btn btn-warning">Add dive to do</button>
						</form>
					</div>
				</div>
			</div>
		</div>

	{{else}}
		<p>There are not diving sites yes</p>
		<a href="/diving-sites/create">Log your first one</a>

	{{/each}}
</div>