<h1>{{diveDetails.divingSite}}</h1>

<hr />

<h3>Depth:</h3>
<p>{{diveDetails.depth}}</p>

<h3>Duration:</h3>
<p>{{diveDetails.duration}}</p>

<h3>Buddy:</h3>
<p>{{diveDetails.buddy}}</p>

<h3>Places to eat:</h3>
<p>{{diveDetails.placesToEat}}</p>

<h3>Comments:</h3>
<p>{{diveDetails.comments}}</p>

<h3>User:</h3>
<p>{{diveDetails.user.username}}</p>

<hr />
<form action="/diving-sites/{{diveDetails._id}}/edit" method="GET">
  <button class="btn btn-secondary">Edit</button>
</form>
<form action="/diving-sites/{{diveDetails._id}}/delete" method="POST">
  <button class="btn btn-secondary">Delete</button>
</form>
{{!-- <a href="/diving-sites/{{diveDetails._id}}/edit">edit</a> --}}
<br />
<br />
{{#if errorMessage}}
  <p class="error">{{errorMessage}}</p>
{{/if}}
<a href="/diving-sites">Back to dives list</a>