
<h3>First name: {{userIsLoggedIn.firstName}}</h3>
<h3>Last name: {{userIsLoggedIn.lastName}}</h3>
<h3>Username: {{userIsLoggedIn.username}}</h3>
<h3>email: {{userIsLoggedIn.email}}</h3>
<h3>Diving level: {{userIsLoggedIn.divingLevel}}</h3>

<img src="{{userIsLoggedIn.imgProfile}}"></img>

<div class="container w-100">
	<div class="row">
		<div class="col-3">

			<!-- Content for the first div (4 columns) -->
            
			<form method="post" action="/diving-sites/create">
				<label>
					Diving Site:
					<input type="text" name="divingSite" />
				</label>

				<label>
					Depth:
					<input type="number" name="depth" min="0" />
				</label>

				<label>
					Duration:
					<input type="number" name="duration" min="0" />
				</label>

				<label>
					Places to eat:
					<input type="text" name="placesToEat" />
				</label>

				<label>
					Comments:
					<textarea name="comments" cols="30" rows="6"> </textarea>
				</label>

				<label>
					Buddy:
					<input type="text" name="buddy" />
				</label>

				<button type="submit"> Create </button>
			</form>
		</div>
		<div class="col-9">
			<!-- Content for the second div (8 columns) -->
    

				{{#each userDivesArr}}
   			 <h4>{{this.divingSite}}</h4>
					{{else}}
   			 <p>this user has no dives</p>
				 {{/each}}


		</div>
	</div>
</div>
